p {
    padding: 0;
    margin: 0;
}

.lp-header-subtitle {
    color: var(--text-color-base);
    font-weight: normal;
    margin: 0 auto 16px;
    font-size: 16px;
    line-height: 24px;
}

@media all and (min-width: 600px) {
    .lp-header-subtitle {
        font-size: 18px;
        line-height: 28px;
    }
}

@media all and (min-width: 1380px) {
    .lp-header-subtitle {
        font-size: 20px;
    }
}

.inverse .lp-header-subtitle {
    color: #fff;
}

.lp-header-subtitle span {
    font-weight: bold;
    display: block;
}

.lp-partners-3 .lp-block-overlay {
    background: var(--text-color-base)0d;
}

.lp-partners-3-wrap {
    padding: 32px 0;
    text-align: center;
}

.lp-partners-3-title {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
}

.lp-partners-3-slider-wrap {
    position: relative;
}

.lp-partners-3 .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.lp-partners-3-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 999;
}

.lp-partners-3-arrow--left {
    left: 0;
}

@media all and (min-width: 600px) {
    .lp-partners-3-arrow--left {
        left: -8px;
    }
}

.lp-partners-3-arrow--right {
    right: 0;
}

@media all and (min-width: 600px) {
    .lp-partners-3-arrow--right {
        right: -8px;
    }
}

.lp-partners-3-arrow--right._hide, .lp-partners-3-arrow--left._hide {
	display: none;
}

.lp-partners-3-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.lp-partners-3-list .slick-slide {
    height: auto;
}

.lp-partners-3-list .slick-slide > div {
    height: 100%;
}

.lp-partners-3-list .slick-slide > div .lp-partners-3-list__item-wrap {
    height: 100%;
}

.lp-partners-3-list__item {
    background-color: #ffffff;
    padding: 24px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    height: 100%;
}

.lp-partners-3-list__item:hover {
    text-decoration: none;
}

.lp-partners-3-list__item-image {
    font-size: 0;
    margin-bottom: 16px;
    width: 100%;
    height: 130px;
    overflow: hidden;
}

.lp-partners-3-list__item-image img {
  object-fit: contain;
  width: 100% !important;
  height: 100% !important;
  min-height: 0 !important;
  min-width: 0 !important;
}


.lp-partners-3-list__item-name {
    padding: 0;
    margin: auto 0 0;
}

.lp-partners-3-slider-dots {
    list-style: none;
    padding-top: 8px;
}

.lp-partners-3-list .owl-stage {
    display: flex;
}

.lp-partners-3-list .lp-partners-3-list__item-wrap {
    height: 100%;
}

@media all and (min-width: 600px) {
    .lp-partners-3-slider-dots {
        padding-top: 16px;
    }
}

@media all and (min-width: 600px) {
    .lp-partners-3-slider-dots {
        padding-top: 16px;
    }
}

@media all and (min-width: 1200px) {
    .lp-partners-3-slider-dots {
        padding-top: 24px;
    }
}

.lp-partners-3-slider-dots li {
    font-size: 0;
    display: block;
    outline: none;
    height: 12px;
    width: 12px;
    margin: 8px 8px;
    line-height: 24px;
    background-color: var(--primary-color-base);
    opacity: 0.3;
    border-radius: 50%;
}

@media all and (min-width: 600px) {
    .lp-partners-3-slider-dots li {
        height: 16px;
        width: 16px;
        line-height: 32px;
    }
}

@media all and (min-width: 1200px) {
    .lp-partners-3-slider-dots li {
        line-height: 32px;
    }
}

.lp-partners-3-slider-dots li button {
    display: none;
}

.lp-partners-3-slider-dots li.slick-active {
    opacity: 1;
}

@media all and (min-width: 600px) {
    .lp-partners-3-wrap {
        padding: 40px 0;
    }

    .lp-partners-3-title {
        margin-bottom: 32px;
    }

    .lp-partners-3-list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .lp-partners-3-list__item-wrap {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media all and (min-width: 960px) {
    .lp-partners-3-wrap {
        padding: 64px 0;
    }

    .lp-partners-3-title {
        margin-bottom: 40px;
    }

    .lp-partners-3-list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    /*.lp-partners-3-list__item-image {
        height: 130px;
        width: 224px;
    }*/
}

@media all and (min-width: 1200px) {
    .lp-partners-3-wrap {
        padding: 80px 0;
    }

    .lp-partners-3-title {
        max-width: 760px;
        margin: 0 auto 40px;
    }

    /*.lp-partners-3-list__item-image {
        height: 130px;
        width: 222px;
    }*/
}

@media all and (min-width: 1380px) {
    .lp-partners-3-wrap {
        padding: 80px 0;
    }

    .lp-partners-3-title {
        max-width: 848px;
        margin: 0 auto 40px;
    }

    /*.lp-partners-3-list__item-image {
        height: 130px;
        width: 250px;
    }*/
}

._left .lp-partners-3-title {
    text-align: left;
}

@media all and (min-width: 1200px) {
    ._left .lp-partners-3-title {
        margin-left: 0;
    }
}

@media all and (min-width: 1380px) {
    ._left .lp-partners-3-title {
        margin-left: 0;
    }
}

@media all and (min-width: 600px) {
    ._left .lp-partners-3-list {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

._right .lp-partners-3-title {
    text-align: right;
}

@media all and (min-width: 1200px) {
    ._right .lp-partners-3-title {
        margin-right: 0;
    }
}

@media all and (min-width: 1380px) {
    ._right .lp-partners-3-title {
        margin-right: 0;
    }
}

@media all and (min-width: 600px) {
    ._right .lp-partners-3-list {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

@media all and (min-width: 600px) {
    .lp-partners-3-list[data-count='2'] .lp-partners-3-list__item {
        max-width: 276px;
    }
}

@media all and (min-width: 960px) {
    .lp-partners-3-list[data-count='2'] .lp-partners-3-list__item {
        max-width: 272px;
    }
}

@media all and (min-width: 1200px) {
    .lp-partners-3-list[data-count='2'] .lp-partners-3-list__item {
        max-width: 368px;
    }
}

@media all and (min-width: 1380px) {
    .lp-partners-3-list[data-count='2'] .lp-partners-3-list__item {
        max-width: 408px;
    }
}

@media all and (min-width: 600px) {
    .lp-partners-3-list[data-count='3'] .lp-partners-3-list__item {
        max-width: 276px;
    }
}

@media all and (min-width: 960px) {
    .lp-partners-3-list[data-count='3'] .lp-partners-3-list__item {
        max-width: 272px;
    }
}

@media all and (min-width: 1200px) {
    .lp-partners-3-list[data-count='3'] .lp-partners-3-list__item {
        max-width: 368px;
    }
}

@media all and (min-width: 1380px) {
    .lp-partners-3-list[data-count='3'] .lp-partners-3-list__item {
        max-width: 408px;
    }
}

@media all and (min-width: 1200px) {
    .lp-partners-3-list[data-count='4'] .lp-partners-3-list__item {
        max-width: 270px;
    }
}

@media all and (min-width: 1380px) {
    .lp-partners-3-list[data-count='4'] .lp-partners-3-list__item {
        max-width: 298px;
    }
}

.lp-partners-3__buttons-wrap {
  text-align: center;
  margin-top: 48px;
}

.lp-partners-3__button {
  /* display: block; */
  margin: 0 16px 16px 0;
  flex: 1 1 auto;
  width: 100%;
}



.lp-partners-3__buttons {
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 0 -16px -16px 0;
  flex-wrap: wrap;
}


@media all and (min-width: 600px) {
  .lp-partners-3__buttons-wrap {
  }

  .lp-partners-3__button {
    width: auto;
  }

  .lp-partners-3__buttons {
    display: inline-flex;
  }
}

._right .lp-partners-3__buttons-wrap {
	text-align: right;
}

._left .lp-partners-3__buttons-wrap {
	text-align: left;
}

.lp-partners-3 .owl-stage-outer {
	font-size: 0;
}